<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Current time and date </h1>
    <div>
    <p class="text-center">@ViewBag.Date</p>
    <p class="text-center">@ViewBag.Time</p>
    </div>
</body>
</html>